# Debug folder contain artifacts
# https://community.st.com/t5/stm32cubeide-mcus/where-should-i-initialise-git-when-creating-a-cubeide-project/td-p/119583
board/Debug/*
board/Drivers/*
board/.settings/*
board/.mxproject

.DS_Store
board/.DS_Store
board/On-Board Debug.launch

simulator/env/*
simulator/__pycache__
simulator/*.png

raspberrypi/control-machine/env/
raspberrypi/control-machine/__pycache__

raspberrypi/board/env/
raspberrypi/board/__pycache__

application/backend/venv/